aiosmtplib
alembic~=1.13.1
bcrypt~=4.0.1
fastapi~=0.111.0
fastapi-mail
passlib~=1.7.4
psycopg2-binary
python_jose
pydantic~=2.7.4
pydantic_settings
pytest
starlette~=0.37.2
sqlalchemy~=2.0.30
sqlalchemy-stubs
uvicorn
